<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Messages</title>
    <link rel="stylesheet" href="/stylesheets/allMessages.css" />
  </head>
  <body>
    <section class="message">
      <h1>Messages</h1>
      <div class="singleMessage">
        <% messages.forEach(message=>{ %>
        <div class="border">
          <h2><%= message.userId.name %></h2>
          <p><%= message.message %></p>
        </div>
        <% }) %>
      </div>
      <button>
        <a href="/">Back</a>
      </button>
    </section>
  </body>
</html>
