<!DOCTYPE html>
<html>
  <head>
    <title>Messages App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <main>
      <h1>Messages App</h1>
      <section class="contacts">
        <div class="heading">
          <a href="/">
            <h2>Contacts</h2>
          </a>
          <a href="/users/messages">
            <h2>Messages</h2>
          </a>
        </div>
        <% user.forEach(user=>{ %>
        <div>
          <h3><a href="/users/<%= user.id %> "><%= user.name %> </a></h3>
        </div>
        <% }) %>
      </section>
    </main>
  </body>
</html>
