<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message</title>
    <link rel="stylesheet" href="/stylesheets/message.css" />
  </head>
  <body>
    <main>
      <h1>OTP for <%= user.name %></h1>
      <section class="message">
        <form action="/users/<%= user.id %> " method="POST">
          <textarea name="message" cols="30" rows="10">
Hi. Your OTP is:<%= Math.floor(Math.random()* 1000000) %> </textarea
          >
          <input type="submit" value="Send Message" />
          <button><a href="/">Back</a></button>
        </form>
      </section>
    </main>
  </body>
</html>
