<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success Message</title>
    <link rel="stylesheet" href="/stylesheets/success.css" />
  </head>
  <body>
    <h1>Message Sent Successfully</h1>
    <button>
      <a href="/">Home</a>
    </button>
  </body>
</html>
