body {
  text-align: center;
}

.message a {
  text-decoration: none;
  color: black;
}

.message .border {
  border: 1px solid red;
  margin: 10px 0;
  padding: 10px 0;
}

.message .singleMessage {
  margin: 10px 0;
}

.message .singleMessage h2 {
  margin: 0 10px;
}
/*# sourceMappingURL=allMessages.css.map */