body {
  text-align: center;
}

.message {
  a {
    text-decoration: none;
    color: black;
  }

  .border {
    border: 1px solid red;
    margin: 10px 0;
    padding: 10px 0;
  }

  .singleMessage {
    margin: 10px 0;

    h2 {
      margin: 0 10px;
    }
  }
}
