body {
  text-align: center;
}

.message textarea {
  padding: 10px;
}

.message input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
}

.message a {
  text-decoration: none;
  color: black;
}

.message button {
  padding: 10px;
}
/*# sourceMappingURL=message.css.map */