body {
  text-align: center;
}

.message {
  textarea {
    padding: 10px;
  }
  input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: black;
  }

  button {
    padding: 10px;
  }
}
