body {
  text-align: center;
}

a {
  color: rgb(255, 107, 107);
  text-decoration: none;
}
.contacts {
  background: aliceblue;
  border: 1px solid black;
  border-radius: 20px;

  h2 {
    color: rgb(81, 200, 255);
    margin: 20px 10px;
  }

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
