body {
  text-align: center;
}

a {
  color: #ff6b6b;
  text-decoration: none;
}

.contacts {
  background: aliceblue;
  border: 1px solid black;
  border-radius: 20px;
}

.contacts h2 {
  color: #51c8ff;
  margin: 20px 10px;
}

.contacts .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */